
$height: 1.5em;
$width: $height;
.contacts{
    text-align: center;
    font: normal normal normal 2rem Segoe UI;
    letter-spacing: 0.15px;
    color: #000000;
    opacity: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    float:left;
    align-self: center;
    padding-top:2em;
    padding-bottom:2em;
    row-gap:1em;
}

.textContainer {
    display: flex;
    justify-content:flex-start;
    height: $height;  
    padding-left:0.5em;
    margin: 0;
    align-items: center
}

.svgWrapper {
    height: $height;
    width: $width;
    padding:0;  
}

.textContainer a{
    display: flex;
    height: $height;
    text-decoration: none;
    color: #000000;
}

.textSpan {
    vertical-align: middle;
    line-height: $height;
    margin-left: 1em;
    @media (max-width: 768px) {
        margin-left: 10px;
    }
    @media (max-width: 480px) {
        margin-left: 5px;
        font-size: 1.7rem;
    }
}