
@import "video.module.scss";
.title{
    @extend .title;
}

.foto{
    height: 100%;
    width:  100%;
    filter: blur(4px) brightness(60%);
}

.foto:nth-last-child(1)
{
    padding-bottom: 0%;
}

.fotoWrapper{
    background-color: #000000;
    margin-bottom: 5%;
    position: relative;
}

.fotoWrapper:nth-last-child(1){
    margin-bottom: 0%;
}

.description{
    position: absolute;
    top:15%;
    left:5%;
    text-align: left;
    font: normal normal normal 1.5rem Segoe UI;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.description p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.descriptionHeader{
    text-align: left;
    font: normal normal normal 3rem Segoe UI;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    margin-bottom:0.4em !important;
}