.header {
  background-color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  min-height:10vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index:2;
}

.header a{
  font-weight: lighter;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
}

.sideWrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 100%;
  flex-wrap: wrap;
}

.sideWrapper a{
  margin: 0.5rem;
}

.logo{
  font-size: 3rem !important;
}
