.content {
    font: normal normal normal 3rem Segoe UI;
    letter-spacing: 0.2px;
    color: #000000;
    text-align: left;
    line-height: 60px;
}
.contentWrapper{
    margin: 3em;
}

.imagesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    min-height:600px;
}

.imagesContainer > img {
    position: absolute;
    border: 0;
    background-size: cover;
    min-height: 400px;
    min-width:400px;
    width:100%;
    margin-top:5em;
}


.imageWrapper{
    margin: 0 10em;
    position: relative;
}

.imageText{
    position: absolute;
    top:18%;
    width:100%;
    text-align: center;
    font: normal normal normal 78px/117px Segoe UI;
    letter-spacing: 0.39px;
    color: #FFFFFF;
    -webkit-text-stroke: 2px black;
}

.accordionWrapper{
    padding:0 !important; 
}