.sliderContainer {
  display:flex;
  width: 100%;
  position: relative;
}

.slider{
  margin: 3% 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  overflow-x:hidden;
}

.sliderItem{
  cursor: pointer;
  width:20%;
  min-width: 360px;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  margin: 0 clamp(2.5rem, 5vw, 4rem);
}
.sideBorder{
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: rgb(255,255,255);
  height:100%;
  width:2.5%;
}
.leftBorder{
  left:0;
  background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
}
.rightBorder{
  right:0;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
}
.rightBorder:hover .icon,.leftBorder:hover .icon{
  transform:scale(1.2);
}
.accordionWrapper{
  padding:0 !important;
}
