.team{
    display: grid;

    grid-template-columns: 1fr 2fr 1fr;

    grid-template-rows: 1fr 1fr 1fr ;

    grid-template-areas: 
    "photo-a main photo-d"
    "photo-b main photo-e"
    "photo-c main photo-f";

}

.photoContainer{
    position: relative;
    grid-area: photo-a;
    
}

.photoText{
    position: absolute;
    color:#FFFFFF;
    opacity: 0;
    right:0;
    top:0;
    width: 100%;
    text-align: center;
    transition-duration: 0.5s;
}

.photo{
    background-size: cover;
    width:100%;
    height:100%;
    background-image: url("http://localhost:3000/cubemedia/team/PhotoTest.jpg");
    min-height: 200px;
    transition-duration: 0.8s;

}

.photoContainer:hover .photoText{
    opacity: 1;
}

.main{
    grid-area: main;

    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    font-size: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    filter: blur(0px) !important;
}

.photoContainer:nth-child(2) { 
    grid-area: photo-b;
}
.photoContainer:nth-child(3) {
    grid-area: photo-c;
}
.photoContainer:nth-child(4) { 

    grid-area: photo-d;
}
.photoContainer:nth-child(5) { 
    grid-area: photo-e;
}
.photoContainer:nth-child(6) { 
    grid-area: photo-f;
}

.photoContainer:nth-child(1) .photo { 
    background-image: url("http://localhost:3000/cubemedia/team/Photo1.jpg");
}
.photoContainer:hover:nth-child(1) .photo { 
    background-image: url("http://localhost:3000/cubemedia/team/Photo1Alt.jpg");
    filter: blur(8px);
}

.photoContainer:nth-child(2) .photo { 
    background-image: url("http://localhost:3000/cubemedia/team/Photo2.jpg");
}
.photoContainer:hover:nth-child(2) .photo { 
    background-image: url("http://localhost:3000/cubemedia/team/Photo2Alt.jpg");
    filter: blur(8px);
}

.photoContainer:nth-child(3) .photo { 
    background-image: url("http://localhost:3000/cubemedia/team/Photo3.jpg");
}
.photoContainer:hover:nth-child(3) .photo { 
    background-image: url("http://localhost:3000/cubemedia/team/Photo3Alt.jpg");
    filter: blur(8px);
}

.photoContainer:nth-child(4) .photo { 
    background-image: url("http://localhost:3000/cubemedia/team/Photo4.jpg");
}
.photoContainer:hover:nth-child(4) .photo { 
    background-image: url("http://localhost:3000/cubemedia/team/Photo4Alt.jpg");
    filter: blur(8px);
}

.photoContainer:nth-child(5) .photo { 
    background-image: url("http://localhost:3000/cubemedia/team/Photo5.jpg");
}
.photoContainer:hover:nth-child(5) .photo { 
    background-image: url("http://localhost:3000/cubemedia/team/Photo5Alt.jpg");
    filter: blur(8px);
}

.photoContainer:nth-child(6) .photo { 
    background-image: url("http://localhost:3000/cubemedia/team/Photo6.jpg");
}
.photoContainer:hover:nth-child(6) .photo { 
    background-image: url("http://localhost:3000/cubemedia/team/Photo6Alt.jpg");
    filter: blur(8px);
}